<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.my_test6">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".edu_module.Manager.Notice.NoticeModifyActivity"></activity>
        <activity android:name=".edu_module.Manager.Notice.NoticeAddActivity" />
        <activity android:name=".edu_module.Manager.Member.MemberModifyActivity" />
        <activity android:name=".edu_module.Manager.Member.MemberDeleteActivity" />
        <activity android:name=".edu_module.Manager.Member.MemberAddActivity" />
        <activity android:name=".edu_module.Manager.ClassManagerActivity" />
        <activity android:name=".edu_module.Class2Activity" />
        <activity android:name=".edu_module.ClassActivity" />
        <activity android:name=".ui.user.Item_web" />
        <activity android:name=".ui.user.web" />
        <activity android:name=".ui.user.login" />
        <activity android:name=".ui.user.logout" />
        <activity android:name=".ui.user.message" />
        <activity android:name=".ui.user.browse" />
        <activity android:name=".ui.user.collection" />
        <activity android:name=".ui.user.about" />
        <activity android:name=".ui.user.myhomework" />
        <activity android:name=".ui.user.myblog" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>